

{% block body %}


 <h1 style="text-align: center;"><span style="color: #ffffff;"><strong>MODIFIER DES RECLAMATIONS</strong></span></h1><br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


        <br><br><br><br><br><br>

{% endblock %}

