
{% block body %}

        {% block title %}Ajouter Reclamation{% endblock %}
    <div class="content-wrapper"><br><br>
    <div class="content-header">
    <div class="container">
        <table id="articles" class="table  table-bordered table-hover table-dark   ">
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </table>
    </div></div></div>


{% endblock %}