<h3>Your password has been reset </h3>

Hi {{ nom }} ,{{ prenom }} ! Your new  Password is .

{{ nbr }}

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
