{% extends 'HomeFront/baseFrontApprenant.html.twig' %}
{% block body %}



    <div class="content-wrapper">

        <div class="container-xl">
            {% for message in app.flashes('info') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
                {% endfor %}
            </div>

            <div class="text-center">

                <div class="card">
                    <h5 class="card-header">Enter yor Email</h5>
                    <div class="card-body">
                        <h5 class="card-title">Please Enter your mail to reset your password </h5>
                        <form method="post" action="">

                            <input type="text" name="searchgo" class="form-control" placeholder="Type your Email">

                            <input type="submit" value="Check Code" class="btn btn-warning"></form>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        </b>
        <div class="container">
            <div class="content-wrapper">
                <div class="content-header">


                </div>
                <!-- /.content-header -->
            </div>


            <!-- Main content -->

            <!-- /.content -->

            <!-- Content Wrapper. Contains page content -->
        </div>
    </div>
{% endblock %}



