<form method="post" action="{{ path('promotion_delete', {'idPromotion': promotion.idPromotion}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promotion.idPromotion) }}">
    <button class="btn">Delete</button>
</form>
