{% extends 'Professeur/dashboardProf.html.twig' %}

{% block central %}
    <div class="container">
        <div class="content-wrapper">
    <img src="{{ asset('uploads/' ~ article.emploi) }}" class="img-fluid" alt="Responsive image" style="width: 500px;height: 500px">
        </div>
    </div>







{% endblock %}