{% extends 'base.html.twig' %}
{% block body %}
<div class="container-xl">
    <!-- Content here -->
    <div class="container">
        {% block title %}Ajouter Professeur{% endblock %}
        {% block body %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </div>










</div>
{% endblock %}