{% extends 'base.html.twig' %}
{% block body %}

    <!-- Content here -->
    <div class="container">
        {% block title %}Ajouter Professeur{% endblock %}
        {% block body %}
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    </div>











{% endblock %}